$color-green: #3fb871;
$color-orange: #febf01;
$color-border: #e1e1e1;
$color-red : red;
$color-work: #898989;
$color-white: #ffffff;
$color-product: #555555;
$color-sale: #959595;
$color-new: #59b586;
@font-face{
  font-family:SteepTypewriterMedium ;
  src:url('../font/SteepTypewriterMedium.ttf')
}
@font-face {
  font-family: "GulyesaScript";
  src:url('../font/HLT\ GulyesaScript.ttf')
}
@font-face{
  font-family: "Arial_Italic";
  src:url('../font/arial/ArialCE.ttf')
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//menu
.t-3{
  padding-top: 22px;
}
.ty-4{
  padding-top: 40px;
  padding-bottom: 40px;
}
.slick-slider {
  :focus{
    outline: 0;
  }
  .slick-dots{
    bottom:20px;
    li{
      margin: 0;
      &.slick-active {
        button{
          &::before{
            color: $color-green;

          }
        }
      }
      button{
        &:before{
          opacity: 1;
          font-size: 10px;
          color: $color-border;
        }
      }
    }
  }

}
.slide{
  position: relative;
  
  .caption{
    position: absolute;
    top: 10%;
    width: 100%;
    // margin: auto;
    h1{
      color: $color-white;
      font-size: 66.38px;
      font-family: 'Roboto Slab', serif;
      font-weight: 500;
      margin-bottom: 0;
    }
    h2{
      font-family: "GulyesaScript";
      color: $color-white;
      font-size: 103.92px;
      // line-height:103px;
    }
    p{
      color: $color-white;
      font-family: "Arial_Italic";
      font-style: italic;
      font-size: 18px;
    }
  }

}


.checked {
  color: $color-orange;
}

.product{
  border:1px solid $color-border;
  .product-overlay {
    position: relative;
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgb(0,0,0,0.25);
    }
    .text {
      color: $color-border;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      ul.btn-overlay{
        li{
          display: inline-block;
          list-style: none;
          padding-right: 5px;
          a{
            
            font-size: 13px;
            font-family: "Arial";
            cursor: pointer;
            &.add-cart{
              padding: 15px 44px;
              background-color: $color-green;
              color: $color-border;
              border-radius: 20px;
              &:hover{
                background-color: $color-border;
                color: $color-green;
                transition: all, 0.5s;
                // border:1px solid $color-green
              }
            }
            &.search{
              background-color: $color-border;
              color: #000;
              border-radius: 50%;
              padding:14px 15px ;
              &:hover{
                background-color: $color-green;
                color: $color-border;
                transition: all, 0.5s;
              }
            }
          }
        }
      }
    }
  }
  &:hover {
    .product-overlay .overlay {
      opacity: 1;
    }
  }
  .product-content{
    text-align: center;
    padding:20px 0;
    .title{
        
        font-weight: 400;
       
        a{
          font-size: 16px;
          font-family: "Arial";
          color: $color-product;
          text-decoration: none;

        }
        &:hover{
          a{
            color: $color-green;
          }
        }
    }
    .price{
      color: $color-red;
      font-weight: 600;
      font-size: 18px;
      font-family: 'Roboto Slab', serif;
      .price-sale {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        text-decoration: line-through;
        color: $color-sale;
        padding-left: 5px;
      }
    }
  }
}

.product__feature,.product__item,.product__new, .new{
  
  h5.title{
    border-bottom: 1px solid $color-border;
    padding-bottom: 10px;
    color: $color-green;
    margin-bottom: 30px;
    margin-top: 50px;
    a{
      border-bottom: 4px solid $color-green;
      padding-bottom: 8px;
      font-family: 'Roboto Slab', serif;
      font-size: 16.24px;
    }
  }

}
.product__item{
  .row-fix{
    margin-right: -15px;
    margin-left: -15px;
    .col-fix{
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  position: relative;
  ul.rating{
    li.star{
      padding: 0;
      border:none
    }
  }
  .images img{
    width: 100px;
    height: 80px;
  }
  .product-content_side{
    padding:0 10px;
    .title{
        font-size: 14px;
        font-weight: 400;
        font-family: "Arial";
        a{
         
          color: $color-product;
        }
    }
    .price{
      color: $color-red;
      font-weight: 600;
      font-family: 'Roboto Slab', serif;
      .price-sale {
        text-decoration: line-through;
        color:$color-sale;
        padding-left: 5px;
      }
    }
  }
  ul.product-item-list {
    margin: 30px 0;
    li{
      list-style: none;
      padding: 20px;
      border:1px solid $color-border;
      border-bottom: none;
      &:last-child{
        border-bottom: 1px solid $color-border;
      }
    }
  }
  .btn_slide_edit{
    position: absolute;
    right: 20px;
    top: 50px;
    .button{
      
      margin: 2px;
      border:none;
      background-color: #fff!important;
      &:focus{
        outline: 0;
      }
    }
    i{
      font-size: 10px;
      font-size: 8px;
      padding: 6px 7px 6px 7px;
      color: #838383;
      border: 1px solid #c8c8c8 !important;
      border-radius: 50%;
    }
  }
}
.product__new {
  position: relative;
  .row-fix{
    margin-right: -15px;
    margin-left: -15px;
    .col-fix{
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .btn_slide_edit{
    position: absolute;
    right: 10%;
    top: 0;
    .button{
      
      margin: 2px;
      border:none;
      background-color: #fff!important;
      &:focus{
        outline: 0;
      }
    }
    i{
      font-size: 10px;
      font-size: 8px;
      padding: 6px 7px 6px 7px;
      color: #838383;
      border: 1px solid #c8c8c8 !important;
      border-radius: 50%;
    }
  }
}
.new {
  padding-bottom: 50px;
  ul.new__section {
    li{
      list-style: none;
      padding: 5px 0;
      cursor: pointer;
      img{
        width: 100%;
      }
      span{
        font-style: italic;
        color: $color-sale;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
      h5{
        font-size: 14px;
        color:$color-new ;
        font-family: 'Roboto','sans-serif';
        font-weight: 700;
      }
      p{
        color: $color-sale;
        font-family: "Arial";
        font-size: 12px;
      }
      a{
        font-family: 'Roboto','sans-serif';
        color: $color-new;
        font-style: italic;
        font-size: 12px;
      }

    }
  }
}
//LOGIN__PAGE
.login{
  &__link{
    margin-top: 20px;
    margin-bottom: 80px;
    li{
      list-style: none;
      display: inline-block;
      padding-right: 5px;
      font-family: Arial;
      font-size: 12px;
      cursor: pointer;
      &.active{
        color: #68ba8f;
      }
    }
  }
  &__title{
    color: $color-green;
    font-size: 18px;
    font-weight: bold;
    font-family:"Arial";
  }
  &__form{
    padding-right: 20px;
    padding-top: 55px;
    .form-group {
      margin-bottom: 30px;
      label{
        color: #363533;
        font-family: Arial;
        font-size: 12px;
      }
    }
    .form-check{
      padding-top: 15px;
      label{
        font-family: 'Roboto', serif;
        font-size: 12px;
        color: #292929;
      }
      &__forget{
        font-family: 'Roboto', serif;
        font-size: 12px;
        color: #292929;
        padding-left: 20px;
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
  }
 
  &__btn{
    margin-top: 30px;
    border:none;
    background-color: $color-green;
    border-radius: 20px;
    padding: 12px 34px;
    color:$color-white;
    margin-top: 30px;
    margin-bottom: 110px;
    font-family: "Arial";
    font-size: 13px;
    border: 1px solid $color-green;
    text-transform: uppercase;
    &:hover{
      background-color: $color-white;
      color: $color-green;
      border: 1px solid $color-green;
      transition: 0.5s;
    }
  }
  &__para{
    padding-top: 20px;
    font-family: 'Roboto', serif;
    font-size: 12px;
    color: #636363;
  }
}
.register{
  &__link{
    margin-top: 20px;
   
    li{
      list-style: none;
      display: inline-block;
      padding-right: 5px;
      font-family: Arial;
      font-size: 12px;
      cursor: pointer;
      &.active{
        color: #68ba8f;
      }
    }
  }
  &__form{
    
    .form-group {
      margin-bottom: 30px;
      label{
        color: #363533;
        font-family: Arial;
        font-size: 12px;
      }
      &__star{
        color: red;
      }
    }
    .form-check{
      padding-top: 15px;
      label{
        font-family: 'Arial';
        font-size: 12px;
        color: #898989;
      }
    
    }
  }
  &__title{
    color: $color-green;
    font-size: 18px;
    font-weight: bold;
    font-family:"Arial";
    margin-top: 65px;
    margin-bottom: 30px;
  }
  &__btn{
    background-color: $color-green;
    border-radius: 20px;
    padding: 12px 34px;
    color:$color-white;
    margin-top: 30px;
    margin-bottom: 110px;
    font-family: "Arial";
    font-size: 13px;
    border: 1px solid $color-green;
    text-transform: uppercase;
    margin-right: 20px;
    &:hover{
      background-color: $color-white;
      color: $color-green;
      border: 1px solid $color-green;
      transition: 0.5s;
    }
    &.outline{
      background-color: $color-white;
      border:1px solid $color-green;
      color:$color-green;
      &:hover{
        background-color: $color-green;
        color: #fff;
        border: 1px solid $color-green;
        transition: 0.5s;
      }
    }
  }
}
.contact{
  &__link{
    margin-top: 20px;
   
    li{
      list-style: none;
      display: inline-block;
      padding-right: 5px;
      font-family: Arial;
      font-size: 12px;
      cursor: pointer;
      &.active{
        color: #68ba8f;
      }
    }
  }
  &__form{
    padding-right: 20px;
    .form-group {
      margin-bottom: 30px;
      &__star{
        color: red;
      }
      label{
        color: #363533;
        font-family: Arial;
        font-size: 12px;
      }
      &__star{
        color: red;
      }
    }
    .form-check{
      padding-top: 15px;
      label{
        font-family: 'Arial';
        font-size: 12px;
        color: #898989;
      }
    
    }
  }
  &__title{
    color: $color-green;
    font-size: 18px;
    font-weight: bold;
    font-family:"Arial";
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__btn{
    background-color: $color-green;
    border-radius: 20px;
    padding: 12px 34px;
    color:$color-white;
    margin-top: 30px;
    margin-bottom: 110px;
    font-family: "Arial";
    font-size: 13px;
    border: 1px solid $color-green;
    text-transform: uppercase;
    margin-right: 20px;
    &:hover{
      background-color: $color-white;
      color: $color-green;
      border: 1px solid $color-green;
      transition: 0.5s;
    }
  }
  &__img{
    margin-top: 80px;
  }
  &__prap{
    margin-top: 35px;
    margin-bottom: 40px;
    padding-left: 10px;
    font-family: "Arial";
    color: #363533;
    font-size: 12px;

  }
  &__phone{
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: "Arial";
    color: #363533;
    font-size: 12px;
    i{
      color: $color-green;
    }
  }
  &__email{
    padding-left: 10px;
    font-family: "Arial";
    color: #363533;
    font-size: 12px;
    i{
      color: $color-green;
    }
  }
}
//CART
.cart {
  &__img{
    width: 100px;
    height: 100px;
    
  }
  &__group{
    text-align: right;
    padding-top:20px;
    padding-bottom: 50px;
  }
  &__btn{
    background-color: $color-green;
    border-radius: 20px;
    padding: 12px 34px;
    color:$color-white;
    margin-top: 30px;
    font-family: "Arial";
    font-size: 13px;
    border: 1px solid $color-green;
    text-transform: uppercase;
    margin-right: 20px;
    
    &:hover{
      text-decoration: none;
      background-color: $color-white;
      color: $color-green;
      border: 1px solid $color-green;
      transition: 0.5s;
    }
    &__outline{
      background-color: #ffffff;
      color: $color-green;
      &:hover{
        background-color: $color-green;
        color: #ffffff;
      }
    }
  }
  .table-bordered thead th {
    background-color: #3fb871;
    border-bottom-width: 2px;
    color: #ffffff;
    font-weight: 400;
  }
  .table-bordered td{
    vertical-align: middle;
  }
  input{
    width: 45px;
    height: 45px;
    margin: auto;
  }
  .cart_quantity_up, .cart_quantity_down{
    padding: 12px;
    margin: 5px;
    background-color: #e1e6e9;
    color: #363533;
    text-decoration: none;
    cursor: pointer;
  }
  .cart_quantity_down{
    padding: 12px 15px;
  }
  &__total{
    color:$color-green;
    tr:last-child{
      background-color: $color-green;
      color: #ffffff;
    }
  
  }
}
//LISTPRODUCT
.listproduct{
  .login{
    &__link{
      margin-bottom: 5px;
    }
  }
  h5.title{
    border-bottom: 1px solid $color-border;
    padding-bottom: 10px;
    color: $color-green;
    margin-bottom: 25px;
    margin-top: 45px;
    a{
      border-bottom: 4px solid $color-green;
      padding-bottom: 8px;
      font-family: 'Roboto Slab', serif;
      font-size: 16.24px;
    }
  }
  &__category{
    li {
      padding-bottom: 10px;
      padding-top: 7px;
      list-style: none;
      border-bottom: 1px solid #e1e1e1;
      font-family: "Arial";
      font-size: 12px;
    }
  }
  &__color{
    list-style: none;
    li{
      padding:10px 0;
      font-family: "Arial";
      font-size: 12px;
      color: #898989;
      i{
        font-size: 28px;
      }
    }
    &__left{
        li:nth-child(2n+1){
          i{
            color: #98cb4a;
          }
        }
        li:nth-child(2n+2){
          i{
            color: #913ccd;
          }
        }
        li:nth-child(2n+3){
          i{
            color: #f7d842;
          }
        }
    }
    &__right{
      padding-left: 30px;
      
      li:nth-child(2n+1){
        i{
          color: #f76d3c;
        }
      }
      li:nth-child(2n+2){
        i{
          color: #5481e6;
        }
      }
      li:nth-child(2n+3){
        i{
          color: #f15f74;
        }
      }
    }
  }
  &__banner{
    padding-top: 55px;
   
    img{
      width: 100%;
    }
  }
  &__sidebar{
    margin-bottom: 75px;
    a{
      color: #898989;
      &.active{
        color: $color-green;
      }
    }
    &__list{
      display: flex;
      margin-bottom: 30px;
      border:1px solid #e1e1e1;
      .images{
       
        img{
          width: 234px;
        height: 234px;
          
        }
      }
      
      &__content{
        padding-top: 20px;
        padding-left: 30px;
        .title{
          font-size: 14px;
          font-weight: 400;
          font-family: "Arial";
          a{
           
            color: $color-product;
          }
        }
        p{
          padding: 5px 0;
          color: #636363;
          font-family: "Arial";
          font-size: 12px;
        }
        .price{
          color: $color-red;
          font-weight: 600;
          font-family: 'Roboto Slab', serif;
          .price-sale {
            text-decoration: line-through;
            color:$color-sale;
            padding-left: 5px;
          }
        }
      
      &__btn{
        background-color: $color-green;
        border-radius: 20px;
        padding: 12px 34px;
        color:$color-white;
        margin-top: 30px;
        
        font-family: "Arial";
        font-size: 13px;
        border: 1px solid $color-green;
        text-transform: uppercase;
        margin-right: 20px;
        &:hover{
          background-color: $color-white;
          color: $color-green;
          border: 1px solid $color-green;
          transition: 0.5s;
        }
      }
      i{
        margin: 0 15px;
        padding: 10px;
        border:1px solid #e1e1e1;
        border-radius: 50%;
      }
      }
    }
    &__sort{
      color:#363636;
        font-family: "Arial";
        font-size: 14px;
      &__name{
        
        select{
          padding: 5px 0;
          font-size: 13px;
          font-family: 'Roboto';
          color:$color-work;
          border:1px solid $color-work;
        }
      }
      
      &__number{
          padding-left: 20px;
          select{
            padding: 5px 0;
            font-size: 13px;
            font-family: 'Roboto';
            color:$color-work;
            border:1px solid $color-work;
          }
          
      }
      
    }
  }
}
//BLOG
.blog{
  
  .login__link{
    margin-bottom: 5px;
  }
  h5.title{
    border-bottom: 1px solid $color-border;
    padding-bottom: 10px;
    color: $color-green;
    margin-bottom: 25px;
    margin-top: 45px;
    a{
      border-bottom: 4px solid $color-green;
      padding-bottom: 8px;
      font-family: 'Roboto Slab', serif;
      font-size: 16.24px;
    }
  }
 &__feature{
   img{
     width: 80px;
     height: 80px;
     margin-right: 20px;
   }
   li{
     list-style: none;
     padding:10px 0px;
     span{
       font-family: "Arial";
       color: #636363;
       font-size: 12px;

     }
   }
 }
 &__section{
   padding: 50px 20px;
   padding-bottom: 0;
   h5{
     a{
     color: #636363;
     font-family: "Arial";
     font-family: 18px;
     cursor: pointer;
     }
   }
    img{
      width: 100%;
      height: 380px;
      margin: 20px 0;
    }
    &__date{
      span{
        padding: 0 10px;
        color: #b7b7b7;
        font-family: "Arial";
        font-size: 12px;
        i{
          color: $color-green;
        }
      }
    }
    p{
      color: #898989;
        font-family: "Arial";
        font-size: 12px;
        padding: 10px 0;
    }

 }
}
@media only screen and (max-width: 800px) {
  .banner{
    img{
      width: 100%;
    }
  }
    .slide{
       .caption{
         h1{
           font-size: 30px;
         }
         h2{
           font-size: 35px;
         }
         p{
           font-size: 20px;
         }
       }
    }
    .product__item{
      .left{
        display: none;
      }
    }
    .listproduct {
      .menu-left{
        display: none;
      }
    }
   .blog{
     .menu-left{
       display: none;
     }
   }
}
@media only screen and (max-width: 425px) {
  .listproduct__sidebar__list{
    display: block;
    .images{
      img{
      width: 100%;
      }
    }
    &__content{
      i{
        margin: 0 5px;
      }
    }
  }
 
  .slide{
     .caption{
       display: none;
     }
  }
  .product__item{
    .left{
      display: block;
    }
  }
  .cart{
    &__group{
      text-align: center;
    }
    &__btn{
      display: block;
      &__outline{
        
      }
    }
    .cart_quantity_up, .cart_quantity_down{
      padding: 1px 18px;
    }
  }
}
